html,body{
    height: 100%;
    margin: 0;
    padding:0;
    background-color:#131a23;
    display: flex;
    align-items: center;
    justify-self: center;
}
input{height: 60px;width: 300px;border-radius: 5px;font-size: 30px;background-color: #131a23;color: white;}
button{
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    font-size: 33px;
    color: white;
    font-weight: bold;
    background-color: rgb(54, 46, 46);
}
.btn1{background-color: rgb(122, 122, 13);}
.btn2{background-color: rgb(119, 85, 150);}

.btn1:hover{background-color: rgb(222, 222, 21);}
.btn2:hover{background-color: rgb(73, 42, 103);}

button:hover{
    background-color: rgb(109, 94, 94);
}
.Calculator{
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 8px;
    border-color: green;
    border-width: 5px;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(34, 34, 34);
    border: #2c3746 5px solid;
}
h1{
    padding-left: 90px;
    color: white;
    font-family: monospace;
}
@media (max-width: 400px){
    .Calculator{padding: 5px;}
}
